body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
background-color: rgb(20, 20, 20)
}
h1{
    font-size: 4rem;
    color: yellow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h3{
    font-size: 2rem;
    color: aliceblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}